#blog > div > h2 {
	margin: 1vw;
	color: #fff;
}

#blog > div > p {
	margin: 1vw;
	color: #fff;
	
}

#blog h4 {
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}

#blog >div > article > p {
	color: #fff;
	text-align: justify;
}

#blog a {
	color: #F8B334;
	text-decoration: none;
}

.imagen-de-fondo {
    background: url(../img/import.jpg);
    background-position: center center;
    padding: 6px;
}

#blog .contenedor {
	margin: 3vw auto;
	padding: 1vw;
	background: rgba(0,0,0,.4);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
	padding: 2vw 0vw;
}

#blog article {
	margin: 1vw;
	padding: 1vw;
	max-width: 420px;
	background: rgba(0,0,0,.6);
    box-sizing: border-box;
    border-radius: 10px;
}