#blog h3 {
	text-align: center;
	margin-bottom: 20px;
	color: #000;
}

#blog h4 {
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}

#blog p {
	color: #fff;
	text-align: justify;
}

.imagen-de-fondo {
    background: url(../img/import.jpg);
    background-position: center center;
    padding: 6px;
    background-repeat: none;
}

#blog .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    box-sizing: border-box;
}

#blog article {
	margin: 6px 6px;
	max-width: 420px;
	background: rgba(0,0,0,.8);
	padding: 6px 6px;
    box-sizing: border-box;
    border-radius: 10px;
}