
:root {
	--custom-primary: #2175bb;
	--custom-secondary: #F8B334;
  }

.content {
    display: flex;
	justify-content: center;
    box-sizing: border-box;
	padding: 80px 0px;
}

.normal {
	flex-wrap: wrap;
}

.reverse {
	flex-wrap: wrap-reverse;
	background-color: #eee;
}

/* .content > .text-content, .img-content { */
.content > div {
    margin: 10px 40px;
    min-width: 200px;
	max-width: 500px;
    display: flex;
	flex: 1 1 0px;
}

.content > div > div {
	margin: auto 0;
}

.content > div > div > h2 {
    color: var(--custom-primary);
	margin: 12px 0vw;
	letter-spacing: -1px;
	font-size: 4vh;
}

.content > div > div > p {
	font-size: 2.2vh;
	margin-bottom: 2vh;
	line-height: 1.4;
}
.content > div > div > p > a {
	color: var(--custom-secondary);
	text-decoration: none;
	font-size: 2.2vh;
}

.img-container {
    width: 100%;
}

.img-container > img {
	display: block;
}

.cuadrolink {
	display: block;
	padding: 2px;
	border: 1px solid var(--custom-primary);
	color: var(--custom-primary);
	text-decoration: none;
	font-weight: 600;
	text-align: center;
	width: fit-content;
	font-size: 2.4vh;

	-webkit-transition: background-color 400ms linear, color 400ms linear;
	-moz-transition: background-color 400ms linear, color 400ms linear;
	-o-transition: background-color 400ms linear, color 400ms linear;
	-ms-transition: background-color 400ms linear, color 400ms linear;
	transition: background-color 400ms linear, color 400ms linear;
}

.cuadrodentro {
	border: 1px solid var(--custom-primary);
	width: 100%;
	height: 100%;
	padding: 2vh 3vh;
}

.cuadrolink:hover {
	background: rgba(151,151,151,.5);
	color: #fff;
	background-color: var(--custom-primary);

	-webkit-transition: background-color 400ms linear, color 400ms linear;
	-moz-transition: background-color 400ms linear, color 400ms linear;
	-o-transition: background-color 400ms linear, color 400ms linear;
	-ms-transition: background-color 400ms linear, color 400ms linear;
	transition: background-color 400ms linear, color 400ms linear;
}
