#fondo {
    width: 100%;
}

.importacion {
    background-image: url(../img/import.jpg);
    background-position: center center;
    padding: 80px 0px;
}

form {
    margin: auto;
    width: 400px;
    background: rgba(1,1,1,.8);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

form h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

form input, textarea {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

#boton {
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
    background: #000;
}

@media (max-width: 580px) {
    form {
        width: 100%;
    }
}